body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    background-color: cornflowerblue;
}

header {
    background-color: blue;
}

nav {
    background-color: aqua;
}

main {
    background-color: aquamarine;
    font-size: 120%;
}

footer {
    background-color: cornflowerblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: dimgrey;
    text-align: center;
    font-size: 100px;
}

li {
    width: fit-content;
}

p{
    line-height: 1.7;
}